@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* font-color */
.Dark2{
    color: rgb(66, 66, 66);
}
.Dark3{
    color: rgb(114, 114, 114);
}
/* header style */
.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}
/* shared style */
.flex{
    display: flex;
}
.color-primary{
    color: rgb(255, 144, 14);;
}
.button-primary{
    background-color: rgb(255, 144, 14);
    border-color: white;
    border-radius: 8px;
    color: white;
    padding: 1.25rem 1.5rem;
    font-size: 1.25rem;
    font-weight: 600;
}
.section-title{
    font-weight: 700;
    font-size: 2.8rem;
    /* border: 2px solid black; */

}
/* navlink style */
.band{
    font-size: 2rem;
    font-weight: 700;
}
.item{
    list-style: none;
}
.nav-links{
    text-decoration: none;
    margin-right: 30px;
    font-size: 1.25rem;
    font-weight: 500;
}
.navbar{
    justify-content: space-between;
    align-items: center;
}
.navbar,.banner{
    max-width: 1440px;
    margin: 0 auto;
    text-align: center;
}
/* banner-section */
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    margin-bottom: 50px;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
    
}
.banner-description{
    font-size: 1rem;
    font-weight: 400;

}
.banner-image{
    width: 100%;
}
header{
    margin-bottom: 85px;
    
}
/* team section */
main>section{
    max-width: 1440px;
    margin:0 auto;
}
.Featured{
 max-width: 537px;
 margin: 0 auto;
 /* border: 2px solid black; */

 
}

#quick{
    font-weight: 500;
    font-size: 2.8rem;
    color: rgb(114, 114, 114);
}
.team-image-section{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;
    margin-right: 4.5rem;
}
.container{
 justify-content: center;
 align-items: center;
}
/* some facts */

.fact{
    border: 1px solid rgb(255, 144, 14);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* justify-content: space-around; */
    /* padding: 36px 45px; */
    width: 240px;
    height: 240px;
    text-align: center;
}
.fact-number{
    font-size: 2.8rem;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 10px;
}

.fact-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-top: 6rem;
    /* gap: 5rem */
    /* justify-content: space-around; */
    
}
.fact-title{
    margin-top: 5px;
    font-size: 1.25rem;
    font-weight: 600;
}
.facts-description{
    font-size: 1.25;
    font-weight: 400;
    width: 542px;
}

/* media query */
@media  screen and (max-width:577px){
 .nav-link ,.navbar{
    flex-direction: column;
 }
 .container{
    flex-direction: column;
 }
 .team-image-section{
    grid-template-columns: repeat(1,1fr);
    margin: 0 auto;
 }
 .facts-description{
    /* height: auto; */
    width: auto;
}
 .fact-container{
    grid-template-columns: repeat(1,1fr);
    margin-top: 20px;
    justify-items: center;
    
    gap: 20px;
 }


}
@media screen and (min-width:578px) and (max-width:992px) {
    .container{
        flex-direction: column;
    }
    
    .fact-container{
        grid-template-columns: repeat(2,1fr);
        margin-top: 20px;
        justify-items: center;
        
        gap: 20px;
     }
}